<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <title>CS7450 Information Visualization Project UI</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
    <script type=text/javascript src="{{
    url_for('static', filename='js/jquery-1.8.2.js') }}"></script>

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    
     <!-- Include d3-->
     <script src="static/js/d3.v2.js"></script>
    
     <!-- Include our visualizations -->
<!--     <script src="static/js/cotaken.js"></script> -->

     <!-- Include jquery ui -->
     <script src="static/js/jquery-ui-1.9.1.custom.js"></script>
     <link rel="stylesheet" href="static/css/smoothness/jquery-ui-1.9.1.custom.css"/>
     <link rel="stylesheet" href="static/css/lightcolor/gray/jtable.css"/>
     <link rel="stylesheet" href="static/css/style.css"/>

     <style>
       #main {
       float:left;
       width:950px;
       padding: 10px;
       }

       #nav {
       padding:5px 10px;
       }

       #header {

       padding:5px 10px;
       }

       #wrap {
       width:1200px;
       margin:0 auto;
       }

       td{font-weight: bold;}


    body,
    html {
    margin:0;
    padding:0;
    color:#000;
    }

       input {

       font-size: 12px;
       }

       .filter-options {
       margin: 5px 0px 0px;
       padding:4px 10px;
       background-color: #FFFFFF;
       line-height: 20px;
       color: rgb(51,51,51);
       border-width: 1px;
       border-radius: 6px 6px 6px 6px;
       border-color: #F5F5F5;
       border-style: solid;
       box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
       }

       #side-bar {
       float:right;
       width:250px;
       }

       .ui-autocomplete { 
       position: absolute; 
       cursor: default;
       z-index:30 !important;
       }  


       form {
       font-size: 10px;
       }

       .radio .ui-button-text {
       font-size: 8px;
       }

       .background {
       fill: #eee;
       }

       line {
          stroke: #fff;
       }

       text.active {
          fill: red;
       }
     </style>

     <script>
    $(function() {
        $( ".radio" ).buttonset();
    });

    $(function() {
        $( "#GT_GPA_slider-range" ).slider({
            range: true,
            min: 1.92,
            max: 4,
            step: 0.01,
            values: [1.92, 4],
            slide: function( event, ui ) {
                $( "#GT_GPA_range" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
            }
        });
        $( "#GT_GPA_range" ).val( $( "#GT_GPA_slider-range" ).slider( "values", 0 ) +
            " - " + $( "#GT_GPA_slider-range" ).slider( "values", 1 ) );
    });

    $(function() {
        $( "#slider-range" ).slider({
            range: true,
            min: 2,
            max: 4,
            step: 0.01,
            values: [2, 4],
            slide: function( event, ui ) {
                $( "#HSGPA_range" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
            }
        });
        $( "#HSGPA_range" ).val( $( "#slider-range" ).slider( "values", 0 ) +
            " - " + $( "#slider-range" ).slider( "values", 1 ) );
    });

    $(function() {
        $( "#SAT_math_slider-range" ).slider({
            range: true,
            min: 400,
            max: 800,
            values: [400, 800],
            slide: function( event, ui ) {
                $( "#SAT_math_range" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
            }
        });
        $( "#SAT_math_range" ).val( $( "#SAT_math_slider-range" ).slider( "values", 0 ) +
            " - " + $( "#SAT_math_slider-range" ).slider( "values", 1 ) );
    });

    $(function() {
        $( "#SAT_verbal_slider-range" ).slider({
            range: true,
            min: 340,
            max: 800,
            values: [340, 800],
            slide: function( event, ui ) {
                $( "#SAT_verbal_range" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
            }
        });
        $( "#SAT_verbal_range" ).val( $( "#SAT_verbal_slider-range" ).slider( "values", 0 ) +
            " - " + $( "#SAT_verbal_slider-range" ).slider( "values", 1 ) );
    });

    $(function() {
        $( "#SAT_writing_slider-range" ).slider({
            range: true,
            min: 400,
            max: 800,
            values: [400, 800],
            slide: function( event, ui ) {
                $( "#SAT_writing_range" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
            }
        });
        $( "#SAT_writing_range" ).val( $( "#SAT_writing_slider-range" ).slider( "values", 0 ) +
            " - " + $( "#SAT_writing_slider-range" ).slider( "values", 1 ) );
    });

    <!-- Majors for auto-complete -->
    $(function() {
        var majors = [
            "BSMATH",
            "BSBIOL",
            "BSAE",
            "BSCE",
            "BSSTC",
            "BSEE",
            "BSME",
            "BSIAML",
            "BSMGT",
            "BSCS",
            "BSIE",
            "BSPSYC",
            "BSBIO",
            "BSHTS",
            "BS",
            "BSBMED",
            "BSCHBE",
            "BSNRE",
            "BSEIA",
            "BSPSY",
            "BSCMPE",
            "BSECON",
            "BSPHYS",
            "BSINTA",
            "BSPUBP",
            "BSID",
            "BSCM",
            "BSBC",
            "BSPFE",
            "BSMSE",
            "BSARCH",
            "BSCHEM",
            "BSEAS",
            "BSGEML",
            "BSAPHY",
            "BSENVE",
            "BSBCHM",
            "BSBA"
        ];
        $( "#major" ).autocomplete({
            source: majors
        });
    });

    $(function() {
        var highSchools = [
            "Lassiter High School",
            "Norcross High School",
            "Marist School",
            "George Walton Comprehensive Hs",
            "Lee County High School",
            "North Gwinnett High School",
            "Dalton High School",
            "Alan C Pope High School",
            "Campbell High School",
            "North Cobb High School",
            "Camden County High School",
            "Berkmar High School",
            "Baldwin High School",
            "Landmark Christian School",
            "Harrison High School",
            "Lakeside High School",
            "Morgan County High School",
            "Parkview High School",
            "Rockdale County High School",
            "Chattahoochee High School",
            "Milton High School",
            "Collins Hill High School",
            "Clarke Central High School",
            "Sandy Creek High School",
            "Northgate High School",
            "Centennial High School",
            "Rome High School",
            "Newnan High School",
            "Roswell High School",
            "Northwest Whitfield County Hs",
            "Evans High School",
            "Savannah Christian Prep Sch",
            "Dacula High School",
            "North Springs High School",
            "Providence Christian Academy",
            "Walker School",
            "Academic Magnet High School",
            "Clear Lake High School",
            "Jonesboro High School",
            "Sprayberry Senior High School",
            "Woodward Academy",
            "Saint Pius X Catholic Hs",
            "Providence High School",
            "Woodland High School",
            "North Carolina School Sci/Math",
            "Fayette County High School",
            "Chamblee High School",
            "Meadowcreek High School",
            "Starr'S Mill High School",
            "Wheeler High School",
            "Westover Comprehensive Hs",
            "South Cobb High School",
            "Marietta High School",
            "Etowah High School",
            "Westside High School",
            "Warner Robins High School",
            "Columbus High School",
            "Chapel Hill High School",
            "East Paulding High School",
            "Stanton College Prep School",
            "Aquinas High School",
            "Mcintosh High School",
            "Thomas Jefferson Hs Sci/Tec",
            "Greater Atlanta Christian Sch",
            "Miami Palmetto Senior Hs",
            "Duluth High School",
            "Woodstock High School",
            "Brookwood High School",
            "The Westminster Schools",
            "Herschel Jenkins High School",
            "Suncoast Community High School",
            "George Walton Academy",
            "South Gwinnett High School",
            "Eagles Landing High School",
            "Heritage High School",
            "Salem High School",
            "Oconee County High School",
            "Kennesaw Mountain High School",
            "Dunwoody High School",
            "West Hall High School",
            "Hume-Fogg Academic High School",
            "Saint Thomas Aquinas Hs",
            "Richmond Hill High School",
            "Galloway School",
            "Athens Academy",
            "Ringgold High School",
            "Westminster Schools Of Augusta",
            "North Forsyth High School",
            "Gainesville High School",
            "Statesboro High School",
            "Wesleyan School",
            "Riverside High School",
            "Kingwood High School",
            "Governor School Science & Math",
            "Houston County High School",
            "Valdosta High School",
            "Mceachern High School",
            "Eastside High School",
            "Mount De Sales Academy",
            "Louisiana School Math Sci Arts",
            "Texas Academy Math & Science",
            "Central High School",
            "Shiloh High School",
            "Lowndes High School",
            "Glynn Academy",
            "Grayson High School",
            "Never Attended High School",
            "Decatur High School",
            "North Hall High School",
            "Greenbrier High School",
            "Tift County High School",
            "Lagrange High School",
            "The Bolles School",
            "Carrollton High School",
            "Sequoyah High School",
            "Northview High School",
            "Tucker High School",
            "Douglas County High School",
            "A R Johnson Hlth/Sci/Eng Hs",
            "South Forsyth High School",
            "Paulding County High School",
            "Loganville High School",
            "Habersham Central Hs",
            "Robert L Osborne High School",
            "Central Gwinnett High School",
            "H B Plant High School",
            "Westlake High School",
            "John S Davidson Fine Arts Sch",
            "Coral Reef Senior High School",
            "Pickens High School",
            "Robert S Alexander Comp Hs",
            "Mccallie School",
            "Druid Hills High School",
            "Henry W Grady High School",
            "Darlington School",
            "Cedar Shoals High School",
            "East Coweta High School",
            "Forsyth Central High School",
            "Stockbridge High School",
            "Cherokee High School",
            "Cartersville High School",
            "North Atlanta High School",
            "Union Grove High School",
            "Blessed Trinity Catholic Hs",
            "Riverwood International Chtr",
            "Lovett School",
            "Episcopal Schl Jacksonville",
            "Mount Paran Christian School",
            "Not Found--International",
            "Alpharetta High School",
            "International HS w/o CEEB Code",
            "Peachtree Ridge High School",
            "Carlton J Kell High School"
        ];
        $( "#highschool" ).autocomplete({
            source: highSchools
        });
    });

$().ready(function(){
 $(".jtable th").each(function(){
 
  $(this).addClass("ui-state-default");
 
  });
 $(".jtable td").each(function(){
 
  $(this).addClass("ui-widget-content");
 
  });
 $(".jtable tr").hover(
     function()
     {
      $(this).children("td").addClass("ui-state-hover");
     },
     function()
     {
      $(this).children("td").removeClass("ui-state-hover");
     }
    );
 $(".jtable tr").click(function(){
   
   $(this).children("td").toggleClass("ui-state-highlight");
  });
 
}); 

    </script>
  </head>

  <body>
     <div id="wrap">
     <div id="header">
     <h1> Cotaken Matrix </h1>
     </div>
     <div id="nav">
	    <div class="radio">
	      <input type="radio" name="views" id="cotaken_matrix" value="yes" checked="checked" /><label for="cotaken_matrix">Cotaken Matrix</label>
              <input type="radio" onclick="document.location='{{url_for('heatmap')}}';" name="views" id="heat_map" value="no" /><label for="heat_map">Heat Map</label>
	    </div>
     </div>


     <div id="main"></div>

     <div id="side-bar">
       <div class="filter-options">
	 <h3>Student Filter</h3>
	  <form>
	    <div class="ui-widget">
	      <label>Cohort Group:
	      </label>
	      <select class="filter" id="cohort_group">
		<option value="200608">200608
		</option>
		<option value="200508">200508
		</option>
		<option value="200408">200408
		</option>
		<option value="200308">200308
		</option>
		<option value="200208">200208
		</option>
	      </select>
	    </div>

	    <div class="ui-widget">
	      <label for="major">Major:
	      </label>
	      <input class="filter" id="major" />
	    </div>

	    <div class="ui-widget">
	      <label for="highschool">Highschool:
	      </label>
	      <input class="filter" id="highschool" />
	    </div>

	    <p>
	      <label for="GT_GPA_range">GT GPA range:
	      </label>
	      <input class="filter" type="text" id="GT_GPA_range" style="border: 0; color: #f6931f; font-weight: bold;" />
	    </p>
	    <div class="filter" id="GT_GPA_slider-range">
	    </div>

	    <p>
	      <label for="HSGPA_range">HSGPA range:
	      </label>
	      <input class="filter" type="text" id="HSGPA_range" style="border: 0; color: #f6931f; font-weight: bold;" />
	    </p>
	    <div class="filter" id="slider-range">
	    </div>

	    <p>
	      <label for="SAT_math_range">SAT Math range:
	      </label>
	      <input class="filter" type="text" id="SAT_math_range" style="border: 0; color: #f6931f; font-weight: bold;" />
	    </p>
	    <div class="filter" id="SAT_math_slider-range">
	    </div>

	    <p>
	      <label for="SAT_verbal_range">SAT Verbal range:
	      </label>
	      <input class="filter" type="text" id="SAT_verbal_range" style="border: 0; color: #f6931f; font-weight: bold;" />
	    </p>
	    <div class="filter" id="SAT_verbal_slider-range">
	    </div>

	    <p>
	      <label for="SAT_writing_range">SAT Writing range:
	      </label>
	      <input class="filter" type="text" id="SAT_writing_range" style="border: 0; color: #f6931f; font-weight: bold;" />
	    </p>
	    <div class="filter" id="SAT_writing_slider-range">
	    </div>
	    <br>

	    <div class="radio">
	      <input type="radio" class="filter" name="international" id="only_international" value="yes" />
	      <label for="only_international">Internationals
	      </label>
	      <input type="radio" class="filter" name="international" id="no_international" value="no" />
	      <label for="no_international">No Internationals
	      </label>
              <input type="radio" class="filter" name="international" id="all_international" value="all" checked="checked" />
	      <label for="all_international">None
	      </label>
	    </div>
	    <br>

	    <div class="radio">
	      <input type="radio" class="filter" name="greek" id="only_greek" value="yes" />
	      <label for="only_greek">Greeks
	      </label>
              <input type="radio" class="filter" name="greek" id="no_greek" value="no" />
	      <label for="no_greek">No Greeks
	      </label>
	      <input type="radio" class="filter" name="greek" id="all_greek" value="all" checked="checked" />
	      <label for="all_greek">None
	      </label>
	    </div>
	  </form> 

              <span id="record_count">
		<p>Records count: </p>
	      </span>
	      <button id="get_students">Get Students</button>
       </div>
	  <div class="filter-options">
	    
	    <p>Order:
	      <select id="order">
		<option value="name">by Name
		</option>
		<option value="count">by Frequency
		</option>
		<!--
		    <option value="group">by Cluster
		    </option>-->
		</select>
		
	    <p>Use the drop-down menu to reorder the matrix and explore the data.</p>


	  </div>

    </div>
</div>
<script>
$(function() {
      $(".filter").bind('change slidechange autocompletechange',  function() {
      $.getJSON($SCRIPT_ROOT + '/_record_count', {
      major: $('input[id="major"]').val(),
      highschool: $('input[id="highschool"]').val(),
      cohort_group: $('select[id="cohort_group"]').val(),
      final_GTGPA: $('input[id="GT_GPA_range"]').val(),
      HSGPA: $('input[id="HSGPA_range"]').val(),
      SAT_math: $('input[id="SAT_math_range"]').val(),
      SAT_verbal: $('input[id="SAT_verbal_range"]').val(),
      SAT_writing: $('input[id="SAT_writing_range"]').val(),
      international: $('input:radio[name="international"]:checked').val(),
      greek: $('input:radio[name="greek"]:checked').val()
      }, function(data){
      content = '<p> Records count: ' + data.record_count + '</p>';

      $("#record_count").html(content);
      return false;
      });
    });
});

// SENDS A QUERY TO SERVER, GETS JSON DATA, ISSUES CALL to update

$(function() {
      $("#get_students").bind('click',  function() {
      $.getJSON($SCRIPT_ROOT + '/_cotaken_matrix', {
      major: $('input[id="major"]').val(),
      highschool: $('input[id="highschool"]').val(),
      cohort_group: $('select[id="cohort_group"]').val(),
      final_GTGPA: $('input[id="GT_GPA_range"]').val(),
      HSGPA: $('input[id="HSGPA_range"]').val(),
      SAT_math: $('input[id="SAT_math_range"]').val(),
      SAT_verbal: $('input[id="SAT_verbal_range"]').val(),
      SAT_writing: $('input[id="SAT_writing_range"]').val(),
      international: $('input:radio[name="international"]:checked').val(),
      greek: $('input:radio[name="greek"]:checked').val()
      
      },
      // JSON Callback
      function(data){
        	cotaken_update(data);
      });
    });
});

// END OF ANONYMOUS BOUND QUERY


var margin = {top: 100, right: 0, bottom: 0, left: 100},
    width = 720,
    height = 720;

var x = d3.scale.ordinal().rangeBands([0, width]),
    z = d3.scale.linear().domain([0, 4]).clamp(true),
    c = d3.scale.category10().domain(d3.range(10));

var svg = d3.select("#main").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .style("margin-left", margin.left + "px")
    .style("margin-top", margin.top + "px")
    .style("position", "absolute")
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

function cotaken_update(miserables) {
  var matrix = [],
      nodes = miserables.nodes,
      n = nodes.length;

  // Compute index per node.
  nodes.forEach(function(node, i) {
    node.index = i;
    node.count = 0;
    console.log(d3.range(n).map(function(j) { return {x: j, y: i, z: 0}; }));
    matrix[i] = d3.range(n).map(function(j) { return {x: j, y: i, z: 0}; });
  });

  // Convert links to matrix; count character occurrences.
  miserables.links.forEach(function(link) {
    matrix[link.source][link.target].z += link.value;
    matrix[link.target][link.source].z += link.value;
    matrix[link.source][link.source].z += link.value;
    matrix[link.target][link.target].z += link.value;
    nodes[link.source].count += link.value;
    nodes[link.target].count += link.value;
  });
  

  // Precompute the orders.
  var orders = {
    name: d3.range(n).sort(function(a, b) { return d3.ascending(nodes[a].name, nodes[b].name); }),
    count: d3.range(n).sort(function(a, b) { return nodes[b].count - nodes[a].count; }),
    group: d3.range(n).sort(function(a, b) { return nodes[b].group - nodes[a].group; })
  };

  // The default sort order.
  x.domain(orders.name);

  svg.append("rect")
      .attr("class", "background")
      .attr("width", width)
      .attr("height", height);

  var row = svg.selectAll(".row")
      .data(matrix)
    .enter().append("g")
      .attr("class", "row")
      .attr("transform", function(d, i) { return "translate(0," + x(i) + ")"; })
      .each(row);

  row.append("line")
      .attr("x2", width);

  row.append("text")
      .attr("x", -6)
      .attr("y", x.rangeBand() / 2)
      .attr("dy", ".32em")
      .attr("text-anchor", "end")
      .text(function(d, i) { return nodes[i].name; });

  var column = svg.selectAll(".column")
      .data(matrix)
    .enter().append("g")
      .attr("class", "column")
      .attr("transform", function(d, i) { return "translate(" + x(i) + ")rotate(-90)"; });

  column.append("line")
      .attr("x1", -width);

  column.append("text")
      .attr("x", 6)
      .attr("y", x.rangeBand() / 2)
      .attr("dy", ".32em")
      .attr("text-anchor", "start")
      .text(function(d, i) { return nodes[i].name; });

  function row(row) {
    var cell = d3.select(this).selectAll(".cell")
        .data(row.filter(function(d) { return d.z; }))
      .enter().append("rect")
        .attr("class", "cell")
        .attr("x", function(d) { return x(d.x); })
        .attr("width", x.rangeBand())
        .attr("height", x.rangeBand())
        .style("fill-opacity", function(d) { return z(d.z); })
		.style("fill", function(d) { return (nodes[d.x].group == nodes[d.y].group)&(nodes[d.x].name != nodes[d.y].name) ? color(d.z) : d3.rgb(238,238,238); })
        .on("mouseover", mouseover)
        .on("mouseover", mouseover)
        .on("mouseout", mouseout)
        .on("click", function(d) { alert (d.x+' '+d.y+' '+d.z); });
  }

  function color(d){
  return d3.rgb(255,(255-Math.floor((d/50)*255)),(255-Math.floor((d/50)*255)));
  }

  function mouseover(p) {
    d3.selectAll(".row text").classed("active", function(d, i) { return i == p.y; });
    d3.selectAll(".column text").classed("active", function(d, i) { return i == p.x; });
  }

  function mouseout() {
    d3.selectAll("text").classed("active", false);
  }

  d3.select("#order").on("change", function() {
    clearTimeout(timeout);
    order(this.value);
  });

  function order(value) {
    x.domain(orders[value]);

    var t = svg.transition().duration(2500);

    t.selectAll(".row")
        .delay(function(d, i) { return x(i) * 4; })
        .attr("transform", function(d, i) { return "translate(0," + x(i) + ")"; })
      .selectAll(".cell")
        .delay(function(d) { return x(d.x) * 4; })
        .attr("x", function(d) { return x(d.x); });

    t.selectAll(".column")
        .delay(function(d, i) { return x(i) * 4; })
        .attr("transform", function(d, i) { return "translate(" + x(i) + ")rotate(-90)"; });
  }

  var timeout = setTimeout(
  	function() { order("group");
   		d3.select("#order").property("selectedIndex", 2).node().focus();}, 5000);
};

</script>
</body>
</html>

